//
// A sample pipeline.config for running the TEI-REX DIA Nextflow workflow.
//
// See https://nf-teirex-dia.readthedocs.io/en/latest/workflow_options.html
// for a complete description of all parameters.
//
// Send questions, comments, ideas, bug reports, etc, to:
// Michael Riffle <mriffle@uw.edu>
//

// params will need changed per workflow run
params {

    // path to .raw (or .mzml files, if local). Can be local or PanoramaWeb.
    quant_spectra_dir = '/path/to/raw_quant_data'

    // which files in this directory to use, default: all raw files
    //quant_spectra_glob = '*.raw'

    // Required: The Skyline template file that contains the targetted peptides
    // for which we are importing spectra. Can be local or PanoramaWeb.
    skyline_template_file = '/path/to/skyline_file.sky.zip'

    // If set to true, msconvert will not be run and spectra from RAW files
    // will be directly imported. Default: false
    import_raw_directly = false

    // options for msconvert
    msconvert.do_demultiplex = true;          // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true;         // whether or not to do simAsSpectra with msconvert

    // Path to a .skyr file, which contains report definitions for Skyline reports.
    // If specified, all reports defined in these files will be executed.
    //skyline_skyr_file = './my_skyline_reports.skyr'

    // The final skyline document will be named using this name. For example,
    // if skyline_custom_name = 'human_dia' then the final Skyline document
    // will be named "human_dia.sky.zip". When importing into PanoramaWeb--this
    // name will appear in the table of imported Skyline documents.
    skyline_document_name = 'final'

    // Whether to upload data to PanoramaWeb.
    panorama.upload = false

    // The WebDAV URL of a directory in PanoramaWeb to which to upload the results. Note that
    // panorama.upload must be set to true to upload results.
    //panoarama.upload_url = 'Panorama WebDAV URL'

    // receive email when done at this address
    // note: the email config at the end of this file must be set up for this to work
    // if commented out (default), no attempt to send email will be made
    //email = 'email@host.com'

}

// if running jobs locally change these to match system capabilities
profiles {

    // "standard" is the profile used when the steps of the workflow are run
    // locally on your computer. These parameters should be changed to match
    // your system resources (that you are willing to devote to running
    // workflow jobs).
    standard {
        params.max_memory = '8.GB'
        params.max_cpus = 4
        params.max_time = '240.h'

        params.mzml_cache_directory = '/data/mass_spec/nextflow/nf-skyline-targeted-import/mzml_cache'
        params.panorama_cache_directory = '/data/mass_spec/nextflow/panorama/raw_cache'
    }
}

// advanced config: change settings to match your email provider to send emails
mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
